<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title>GodFulJur - 로그인</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light nav-tabs">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img
						class="brand-img"
						alt=""
						width="45"
						height="45"
					/>
					<span style="color: #61ade6;">G</span><span>o</span><span>d</span
					><span style="color: #00d5ff;">F</span><span>u</span><span>l</span
					><span style="color: lightblue;">J</span><span>u</span><span>r</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tabs">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/">홈</a>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								게시판
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="/board/announcements/index"
										>공지사항</a
									>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li><a class="dropdown-item" href="/posts">커뮤니티</a></li>
								<li><a class="dropdown-item" href="/support">기타</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/games">게임들</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/leaderboard">리더보드</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/store">상점</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/guidelines">규칙</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/introduction">서버 소개</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="all">
			&nbsp;
			<br />
			&nbsp;
			<div class="center content rounded-3 jua">
				<div class="center content rounded-3">
					<h2 class="center">로그인</h2>
					<form action="/users/sign_in" accept-charset="UTF-8" method="post" class="center">
						<input
							name="authenticity_token"
							value="<%= form_authenticity_token %>"
							type="hidden"
						/>
						<div class="input-group mb-3">
							ㅤ
							<span class="input-group-text" id="basic-addon1">이메일</span>
							<input
								type="email"
								class="form-control"
								placeholder="이메일 입력..."
								aria-label="Email"
								aria-describedby="basic-addon1"
								name="user[email]"
								required
							/>
							ㅤ
						</div>
						<div class="input-group mb-3">
							ㅤ
							<span class="input-group-text" id="basic-addon1"
								>비밀번호</span
							>
							<input
								type="password"
								class="form-control"
								placeholder="비밀번호 입력..."
								aria-label="Password"
								aria-describedby="basic-addon1"
								name="user[password]"
								required
							/>
							ㅤ
						</div>
						<div class="form-actions center">
							<input
								class="btn btn-outline-success"
								type="submit"
								name="commit"
								value="로그인"
								class="btn"
								data-disable-with="Sign in"
							/>
						</div>
					</form>
					<hr>
					<div class="d-flex justify-content-center">
						<form action="/users/sign_in">
							<input class="btn btn-outline-success" type="submit" value="회원가입"/>
						</form>
						&nbsp;
						<form action="/users/password/new.user">
							<input class="btn btn-outline-success" type="submit" value="비밀번호 찾기"/>
						</form>ㅤㅤㅤ
					</div>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
				</div>
			</div>
			&nbsp;
			<br />
			&nbsp;
		</div>
	</body>
</html>